<style>
    .table-container {
        overflow-x: auto;
    }

    .weather-table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px;
    }

    .weather-table th,
    .weather-table td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .weather-table th {
        background-color: #f2f2f2;
    }

    .weather-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .weather-table tbody tr:hover {
        background-color: #ddd;
    }

    /* Card Styles */
    .card-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .card {
        background-color: rgb(0, 0, 0);
        color: white;
        border: 1px solid #ddd;
        padding: 15px;
        width: 250px;
        /* Set width */
        height: 150px;
        /* Set height to make it square */
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-title {
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>
<div class="card-container">
    <div class="card card-station">
        {{!-- <div class="card-title">Station</div> --}}
        <ul class="station-block">
            <li>{{station.title}}</li>
            <li>Lat: {{station.latitude}}</li>
            <li>Lng: {{station.longitude}}</li>
        </ul>
        <i class="fa fa-map-marker-alt"></i>
    </div>
    <div class="card card-station">
        <div class="card-title">Weather</div>
        {{last_reading.codeText}}
        <i class="{{last_reading.icon}}"></i>
    </div>
    <div class="card card-station">
        <div class="card-title">Temperature</div>
        {{last_reading.temperature}}째C / {{last_reading.temperatureFahrenheit}}째F
        <br>
        Max: {{last_reading.maxTemperature}}
        <br>
        Min: {{last_reading.minTemperature}}
        <br>
        <i class="fa fa-thermometer-half"></i>
    </div>
    <div class="card card-station">
        <div class="card-title">Wind</div>
        bft: {{last_reading.beaufort}}
        <br>
        Direction: {{last_reading.windDirectionCompass}}
        <br>
        Feels Like: {{last_reading.fellsLike}}
        <br>
        Max: {{last_reading.maxWind}}
        <br>
        Min: {{last_reading.minWind}}
        <br>
        <i class="fa fa-flag"></i>
    </div>
    <div class="card card-station">
    <div class="card-title">Pressure</div>
    {{last_reading.pressure}} hpa
    <br>
    Max: {{last_reading.maxPressure}}
    <br>
    Min: {{last_reading.minPressure}}
    <br>
    <i class="fa fa-weight-hanging"></i>
</div>
</div>
<div class="table-container">
    <table class="weather-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Temperature (째C)</th>
                <th>Wind Speed (km/h)</th>
                <th>Wind Direction</th>
                <th>Pressure (hPa)</th>
            </tr>
        </thead>
        <tbody>
            {{#each readings}}
            <tr>
                <td>{{code}}</td>
                <td>{{temperature}} 째C</td>
                <td>{{windSpeed}}</td>
                <td>{{windDirection}}</td>
                <td>{{pressure}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>